@import url("normalize.css");
@import url("simple-grid.css");

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  background: #394053;
}
a {cursor: pointer;}
a:link {color: #008AFF;}
a:visited {color: #490A3D;}
a:hover {color: #394053;}
a:active {color: #BD1550;}
.easing-transition, a {
	-moz-transition: 0.2s all linear;
	-o-transition: 0.2s all linear;
	transition: 0.2s all linear;
}
/* -- colors 
http://www.colourlovers.com/palette/848743/(_”_)
#490A3D // purple
#BD1550 // pink
#E97F02 // orange 
#F8CA00 // yellow
#8A9B0F // green
*/

header {
  padding-top: 60px;
}
header [class^="col"] .title {
  margin-top: 0;
}
header .row [class^="col"]:first-child {
  text-align: center;
}
header .logo {
  max-width: 7em;
  margin-top: 1em;
}
header .nav {
  text-align: center;
  margin: 2em 0;
}
header .nav.social a img {
  width: 2em;
  height: 2em;
}
header .blurb p {
  line-height: 2em;
  font-size: 1.25em;
}
header .blurb a {
  display: inline-block;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  margin: 0.25em;
  color: #fff;
}
section {
  padding: 5em 2em;
  max-width: 860px;
  margin: 0 auto;
}
section .box {
  padding: 2em 0 4em 0;
  border-top-width: 0.5em;
  border-bottom-width: 1em;
  border-right-width: 0;
  border-left-width: 0;
  border-style: solid;
  background: #fff;
  box-shadow: 0px 4px 4px #333;
  position: relative;
}
section .box .title {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 2.75em;
  line-height: 0.7em;
}
.box .sample {
  box-shadow: 0 0 6px #666;
  min-height: 200px;
}
#about .box {
  border-color:#BD1550;
}
#about h2 {
  color: #BD1550;
}
#work .box {
  border-color:#8A9B0F;
  padding-top: 4em;
}
#work h2 {
  color: #8A9B0F;
}
#contact .box {
  border-color: #E97F02;
}
#contact h2 {
  color: #E97F02;
}
body section:first-of-type {
  margin-top: 0;
}
body section:last-of-type {
  margin-bottom: 0;
}
header * {
  color: #fff;
}
footer * {
  color: #fff;
}
footer .colophon {
  font-size: .8em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  display: block;
}
.nav li a {
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  font-size: 1.25em;
  float: left;
}
nav {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 100;
  width: 80%;
  margin: 0 auto;
  display: none;
}
nav .nav li {
  width: 100%;
}
nav .nav li a,
footer .nav li a {
  color: #fff;
}
footer .nav li a:hover {
  color: #8A9B0F;
}
nav .nav li a {
  padding: 0.5em 0;
  width: 100%;
  text-align: center;
}
.blog {
  background: #490A3D;
}
.blog:hover {
  color: #BD1550;
}
.contact {
  background: #E97F02;
}
.contact:hover {
  color: #490A3D;
}
.work {
  background: #8A9B0F;
}
.work:hover {
  color: #BD1550;
}
.about {
  background: #BD1550
}
.about:hover {
  color: #490A3D;
}
.fixed_nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.toggle-menu {
  text-align: right;
  padding: 0.5em 1em 0em;
  background-color: #394053;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.toggle-menu .container {
  max-width: unset;
}
.nav.social li {
  display: inline-block;
}
.nav.social li a {
  display: inline-block;
}
.down-arrow {
  width: 100px;
  margin: 0em auto;
}
@media only screen and (min-width: 33.75em) {
  nav {
    width: 75%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  header {
    padding: 25vh 1em 1em;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
  }
  header .logo {
    max-width: 15em;
  }
  header .blurb p {
    line-height: 2.5em;
  }
  nav {
    width: 20em;
    left: auto;
    right: 13%;
  }
  section .box .title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 60em) {
  nav {
    right: 7%;
  }
}